NODE_ENV=development
PORT=3000
DATABASE_URL="file:./dev.db"
JWT_ACCESS_TOKEN_SECRET=change_me
JWT_ACCESS_TOKEN_EXPIRES_IN=15m
JWT_REFRESH_TOKEN_SECRET=change_me_too
JWT_REFRESH_TOKEN_EXPIRES_IN=7d
NEXT_PUBLIC_API_BASE=http://localhost:3000
LOG_LEVEL=info
